.qt-reference-highlight-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}

.qt-reference-highlight {
  position: absolute;
  border: 2px solid;
  border-radius: 2px;
  box-sizing: border-box;
  pointer-events: none;
  transition: all 0.1s ease;
}
