.qt-spreadsheet-row-resizer {
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  display: block;
  height: 4px;
  cursor: row-resize;
  border-top: 2px solid #fafafa;

  &:hover {
    background-color: #ccc;
  }
}
.qt-spreadsheet-col-resizer {
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  display: block;
  width: 4px;
  cursor: col-resize;
  border-left: 2px solid #fafafa;

  &:hover {
    background-color: #ccc;
  }
}
