.qt-spreadsheet-selector {
  display: none;
  pointer-events: none;
}
.qt-spreadsheet-selector-section {
  position: absolute;
  background-color: rgba(100, 200, 255, 0.1);
  border: 1px solid #2a83ea;
  box-sizing: border-box;
  transition: 0.15s;
}
.qt-spreadsheet-selector-active {
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #2a83ea;
  transition: 0.15s;
}
.qt-spreadsheet-selector-corner {
  position: absolute;
  right: -4px;
  bottom: -4px;
  width: 4px;
  height: 4px;
  border: 1px solid #fff;
  background-color: #2a83ea;
  pointer-events: all;
  cursor: crosshair;
}
.qt-spreadsheet-selector-autofill-area {
  position: absolute;
  display: none;
  box-sizing: border-box;
  transition: 0.15s;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px dashed #2a83ea;

  &[data-direction='bottom'] {
    border-top: none;
  }
  &[data-direction='up'] {
    border-bottom: none;
  }
  &[data-direction='left'] {
    border-right: none;
  }
  &[data-direction='right'] {
    border-left: none;
  }
}
