.qt-spreadsheet {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.qt-spreadsheet-formula {
  width: 100vw;
  height: 26px;
  position: relative;
  background: #fff;
  z-index: 1000;
}
.qt-spreadsheet-canvas-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 66px);

  &.col-resize {
    cursor: col-resize;
  }
  &.row-resize {
    cursor: row-resize;
  }
}
.qt-spreadsheet-canvas {
  display: block;
}
